.pagina-conteudo{
    padding: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    overflow: auto;
}
.pagina-conteudo p{
    color:#3a3a3a;
    line-height: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
}
@media(min-width: $breakpoint-md){
    .pagina-conteudo{
        padding-top: 100px;
        padding-bottom: 100px;
   }
}