@font-face {
    font-family: "Source Sans Pro";
    src: url('../font/SourceSansPro-Regular.otf');
}
@font-face {
    font-family: "Source Sans Pro";
    src: url('../font/SourceSansPro-Bold.otf');
    font-weight: bold;
}
@font-face {
    font-family: "Source Sans Pro";
    src: url('../font/SourceSansPro-BoldIt.otf');
    font-weight: bold;
    font-style: italic;
}        