.lista-trabalhos{
    list-style: none;
    padding: 0;
    margin-top: 80px;
}
.lista-trabalhos__item{
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 50px;
    position: relative;
}
.lista-trabalhos__img{
    width: 100%;
    height: auto;
    display: block;
}
.lista-trabalhos__item a{
    text-decoration: none;    
}
.lista-trabalhos__titulos{
    color: #000;
    font-size: 18px;
    margin-left: 15px;
    border-left: 1px solid #000;
    padding-left: 10px;
}
@media(min-width: $breakpoint-md){
    .lista-trabalhos__item{
        margin: 0;
        float: left;
        width: 50%;
        background-color: $cor-principal;
        overflow: hidden;
        &:hover{
            .lista-trabalhos__img{
                opacity: 0.1;
                transform: scale(1.4);
            }
            .lista-trabalhos__titulos{
                opacity: 1;
            }
        }
        
    }
    .lista-trabalhos__img{
        opacity: 1;
        transition: all 200ms ease;
    }
    .lista-trabalhos__titulos{
        color: #fff;
        padding: 0;
        margin: 0;
        border: none;
        text-align: center;
        position: absolute;
        top: 40%;
        left: 0;
        width: 100%;
        background: url('../img/icone-olho.png');
        background-repeat: no-repeat;
        background-position: bottom;
        background-position: center;
        padding-bottom: 65px;
        font-size: 20px;
        opacity: 0;
        transition: opacity 200ms ease;
    }
@media(min-width: $breakpoint-lg){
    .lista-trabalhos__item{
        width: 33.333%;
    }
  }   
}